In [1]:
#unit_tests
import unittest
import pandas as pd
import numpy as np
import random


class TestCSVMethods(unittest.TestCase):
    
    def test_upper(self):
        self.assertEqual('foo'.upper(), 'FOO')
        
    def test_read_Excel(self):
        #import test CSV
        xls = pd.ExcelFile(r'Resources\RedevSch.xlsx')
        dfMont = pd.read_excel(xls, 'Montopolis')
        self.assertEqual(2020, dfMont.columns[1])
    
        #Clean Entry if Necessary
        #Print
        

if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

A:\Anaconda3\lib\site-packages\xlrd\xlsx.py:266: PendingDeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():
A:\Anaconda3\lib\site-packages\xlrd\xlsx.py:312: PendingDeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():
..
----------------------------------------------------------------------
Ran 2 tests in 0.063s

OK

In [2]:
xls = pd.ExcelFile(r'Resources\RedevSch.xlsx')
dfMont = pd.read_excel(xls, 'Montopolis')
dfBrent = pd.read_excel(xls, 'Brentwood')
dfSouthM = pd.read_excel(xls, 'South Menchaca')

print(dfMont)
print(dfBrent)
print(dfSouthM)

       Year  2020  2030  2040  2050  2060  2070  2080  2090  2100  Total
0  SmallRes  0.06  0.15  0.15  0.06  0.09  0.09   0.1  0.15  0.15      1
1  LargeRes  0.06  0.15  0.15  0.06  0.09  0.09   0.1  0.15  0.15      1
2    Com/MU  0.06  0.15  0.15  0.06  0.09  0.09   0.1  0.15  0.15      1
       Year  2020  2030  2040  2050  2060  2070  2080  2090  2100  Total
0  SmallRes  0.06  0.06  0.06  0.09  0.09  0.12  0.12   0.2   0.2      1
1  LargeRes  0.06  0.06  0.06  0.09  0.09  0.12  0.12   0.2   0.2      1
2    Com/MU  0.06  0.06  0.06  0.09  0.09  0.12  0.12   0.2   0.2      1
       Year  2020  2030  2040  2050  2060  2070  2080  2090  2100  Total
0  SmallRes  0.06  0.06  0.06  0.09  0.09  0.12  0.12   0.2   0.2      1
1  LargeRes  0.06  0.06  0.06  0.09  0.09  0.12  0.12   0.2   0.2      1
2    Com/MU  0.06  0.06  0.06  0.09  0.09  0.12  0.12   0.2   0.2      1

In [3]:
dfMont.columns[1]

2020

In [4]:
#Building General Class
class Building:
    
    # read excel data for general values
    
    def __str__(self):
        return(str(self.uniqueID))
    def __init__(self, building_df):
        
        #Denotes if the building has undergon reDevelopment
        self.reDev_flag = ""
        self.df= building_df
        
        #general values applicable to the building regardless of redevelopment
        self.uniqueID = self.df['UniqueID']
        self.Neighborhood = self.df['Neighborhood']
        self.OBJECTID = self.df['OBJECTID']
        self.LotSize = self.df['LotSize']
        self.UNITS = self.df['UNITS']
        self.SUM_LANDVA = self.df['SUM_LANDVA']
        self.SUM_IMPVAL = self.df['SUM_IMPVAL']
        self.SUM_market = self.df['SUM_market']
        self.MAX_yr_blt = self.df['MAX_yr_blt']
        self.MAX_eff_yr = self.df['MAX_eff_yr']
        self.COA_SQFT = self.df['COA_SQ.FT']
        self.ZONING_ZTY = self.df['ZONING_ZTY']
        self.EX_LU = self.df['EX_LU']
        self.FAR = self.df['FAR']
        self.ILR = self.df['ILR']
        self.UNITSPERAC = self.df['UNITSPERAC']
        self.Tot_Acre = self.df['Tot_Acre']
        
        # Original Building Values
        self.DEV_TYPE_CURRENT = self.df['DEV_TYPE_Current']
        self.Use_Class = self.df['Use Class']
        self.Corridor = self.df['Corridor?']
        self.TOD = self.df['TOD?']
        self.CONSTRAINED_ACRE = self.df['CONSTRAINED_ACRE']
        self.Redev_Rank = self.df['Redev Rank']
        self.Redev_Year = self.df['Redev Year']
        self.Bldg_CurrEst = self.df['Bldg_CurrEst']
        self.LotSize_CurrentEst = self.df['LotSize_CurrentEst']
        self.SqFt_CurrEst = self.df['SqFt_CurrEst']
        self.Units_CurrEst = self.df['Units_CurrEst']
        
        self.Population = self.df['Pop']
        #self.TEMP = self.df['TEMP'], isn't loading in prorperly
        
        # Best Case Building Values
        self.Use_Best = self.df['Use_Best']
        self.Bldg_Best = self.df['Bldg_Best']
        self.LotSize_Best = self.df['LotSize_Best']
        self.SqFt_Best = self.df['SqFt_Best']
        self.Units_Best = self.df['Units_Best']
        self.Population_Best = self.df['Pop_Best']
        
        # Worst Case Building Values
        self.Path_Worst = self.df['Path_Worst']
        self.Bldg_Worst = self.df['Bldg_Worst']
        self.LotSize_Worst = self.df['LotSize_Worst']
        self.SqFt_Worst = self.df['SqFt_Worst']
        self.Units_Worst = self.df['Units_Worst']
        self.Population_Worst = self.df['Pop_Worst']
        
        #Coadoption Variables
        self.HP = False
        self.ST = False
        self.PV = False

In [5]:

xls = pd.ExcelFile(r'Resources\ParcelDB_20201118_SMZ_REDEV.xlsx')
ParcelDB = pd.read_excel(xls, 'ParcelDB')

In [6]:
for col in ParcelDB.columns:
    print(col)

Unnamed: 0
UniqueID
Neighborhood
OBJECTID
DEV_TYPE_Current
Use Class
Interior
Corridor?
TOD?
CONSTRAINED_ACRE
Redev Rank
Redev Year
LotSize
UNITS
SUM_LANDVA
SUM_IMPVAL
SUM_market
MAX_yr_blt
MAX_eff_yr
COA_SQ.FT
ZONING_ZTY
EX_LU
FAR
ILR
UNITSPERAC
Tot_Acre
PID_10
Bldg_CurrEst
LotSize_CurrentEst
SqFt_CurrEst
Units_CurrEst
Pop
TEMP
Use_Best
Bldg_Best
LotSize_Best
SqFt_Best
Units_Best
Pop_Best
Manual?
Path_Worst
Bldg_Worst
LotSize_Worst
SqFt_Worst
Units_Worst
Pop_Worst
Manual?.1

In [7]:
dftemp = ParcelDB.iloc[1]
test_building = Building(dftemp)

In [8]:
test_building.df

Unnamed: 0                                              NaN
UniqueID                                              SM.11
Neighborhood                                             SM
OBJECTID                                                 11
DEV_TYPE_Current                 Single Family Neighborhood
Use Class                                         Small Res
Interior                                                  1
Corridor?                                                 0
TOD?                                                      0
CONSTRAINED_ACRE                                          0
Redev Rank                                              937
Redev Year                                             2070
LotSize                                             32323.5
UNITS                                                     1
SUM_LANDVA                                           112500
SUM_IMPVAL                                           132962
SUM_market                                           245462
MAX_yr_blt                                             1950
MAX_eff_yr                                             1950
COA_SQ.FT                                              1265
ZONING_ZTY                                          SF-3-NP
EX_LU                                                 SF_MD
FAR                                               0.0391357
ILR                                                 1.18188
UNITSPERAC                                          1.34763
Tot_Acre                                           0.742047
PID_10                                          4.10081e+08
Bldg_CurrEst                 Single Family Medium-Large Lot
LotSize_CurrentEst                                     9000
SqFt_CurrEst                                        3510.43
Units_CurrEst                                             1
Pop                                                     2.5
TEMP                                                      0
Use_Best                                  Small Residential
Bldg_Best             Townhome, Medium Density: Sustainable
LotSize_Best                                          10000
SqFt_Best                                             10800
Units_Best                                               10
Pop_Best                                                 25
Manual?                                                 NaN
Path_Worst                                Small Residential
Bldg_Worst                          Single Family Large Lot
LotSize_Worst                                         13000
SqFt_Worst                                          3854.41
Units_Worst                                               1
Pop_Worst                                               2.5
Manual?.1                                               NaN
Name: 1, dtype: object

In [9]:
Buildings_SM = []
Buildings_Mont = []
Buildings_Brent = []
for index in range(len(ParcelDB)):
    dftemp = ParcelDB.iloc[index]
    if(dftemp.Neighborhood == 'SM'):
        Buildings_SM.append(Building(dftemp))
    elif(dftemp.Neighborhood == 'Mont'):
        Buildings_Mont.append(Building(dftemp))
    elif(dftemp.Neighborhood == 'Brent'):
        Buildings_Brent.append(Building(dftemp))

In [10]:
print(Buildings_SM[0])

SM.10

In [11]:
print(Buildings_Mont[0])

Mont.1

In [12]:
print(Buildings_Brent[0])

Brent.3

In [13]:
df2020 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2030 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2040 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2050 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2060 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2070 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2080 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2090 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
df2100 = pd.DataFrame(columns=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])

In [14]:
df2020

Empty DataFrame
Columns: [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]
Index: []

In [ ]:
def ListBreaker(list):

In [86]:
def SimulateDecade(Year,dfReDevSch,BuildingsArray):
    redevPool = []
   
    for building in BuildingsArray:
        if building.Redev_Year == Year:
            redevPool.append(building.uniqueID)
    print(redevPool[0::12])
    dictdf = {'Jan': redevPool[0::12],'Feb':redevPool[1::12],'Mar':redevPool[2::12],'Apr':redevPool[3::12],
            'May':redevPool[4::12],'Jun':redevPool[5::12],'Jul':redevPool[6::12],'Aug':redevPool[7::12],
            'Sep':redevPool[8::12],'Oct':redevPool[9::12],'Nov':redevPool[10::12],'Dec':redevPool[11::12]}
    monthdf = pd.DataFrame.from_dict(dictdf, orient = 'index')
    monthdf = monthdf.transpose()
    #constant development scenario, attempts to divide equally
    #TODO: add selectable timescale
        
    return monthdf

In [87]:
def runSimulation(dfReDevSch,BuildingsArray):
    df2020 = SimulateDecade(2020,dfReDevSch,BuildingsArray)
    df2030 = SimulateDecade(2030,dfReDevSch,BuildingsArray)
    df2040 = SimulateDecade(2040,dfReDevSch,BuildingsArray)
    df2050 = SimulateDecade(2050,dfReDevSch,BuildingsArray)
    df2060 = SimulateDecade(2060,dfReDevSch,BuildingsArray)
    df2070 = SimulateDecade(2070,dfReDevSch,BuildingsArray)
    df2080 = SimulateDecade(2080,dfReDevSch,BuildingsArray)
    df2090 = SimulateDecade(2090,dfReDevSch,BuildingsArray)
    df2100 = SimulateDecade(2100,dfReDevSch,BuildingsArray)
    YearArray=[df2020,df2030,df2040,df2050,df2060,df2070,df2080,df2090,df2100]
    return YearArray

In [88]:
YearArray = runSimulation(dfMont,Buildings_Mont)

['Mont.40', 'Mont.200', 'Mont.449', 'Mont.593', 'Mont.847', 'Mont.1029', 'Mont.1407', 'Mont.1561', 'Mont.1635', 'Mont.1678']
['Mont.6', 'Mont.125', 'Mont.160', 'Mont.274', 'Mont.470', 'Mont.619', 'Mont.653', 'Mont.686', 'Mont.760', 'Mont.1174', 'Mont.1405', 'Mont.1530', 'Mont.1566', 'Mont.1616', 'Mont.1675', 'Mont.1746', 'Mont.1786', 'Mont.1873', 'Mont.1897', 'Mont.1922', 'Mont.1960', 'Mont.1985', 'Mont.2014', 'Mont.2095', 'Mont.2115', 'Mont.2133']
['Mont.51', 'Mont.141', 'Mont.186', 'Mont.247', 'Mont.286', 'Mont.326', 'Mont.360', 'Mont.387', 'Mont.443', 'Mont.468', 'Mont.525', 'Mont.646', 'Mont.673', 'Mont.705', 'Mont.766', 'Mont.1324', 'Mont.1438', 'Mont.1534', 'Mont.1572', 'Mont.1697', 'Mont.1763', 'Mont.1801', 'Mont.1825', 'Mont.1843', 'Mont.1926', 'Mont.2042']
['Mont.32', 'Mont.201', 'Mont.253', 'Mont.318', 'Mont.388', 'Mont.476', 'Mont.540', 'Mont.1219', 'Mont.1651', 'Mont.1853', 'Mont.1983']
['Mont.3', 'Mont.89', 'Mont.173', 'Mont.213', 'Mont.237', 'Mont.288', 'Mont.330', 'Mont.393', 'Mont.459', 'Mont.598', 'Mont.1318', 'Mont.1520', 'Mont.1792', 'Mont.1859', 'Mont.1950', 'Mont.2091']
['Mont.1', 'Mont.110', 'Mont.309', 'Mont.483', 'Mont.595', 'Mont.786', 'Mont.907', 'Mont.1057', 'Mont.1115', 'Mont.1232', 'Mont.1346', 'Mont.1460', 'Mont.1668', 'Mont.1940', 'Mont.2059', 'Mont.2093']
['Mont.20', 'Mont.133', 'Mont.723', 'Mont.805', 'Mont.852', 'Mont.900', 'Mont.974', 'Mont.1085', 'Mont.1154', 'Mont.1204', 'Mont.1285', 'Mont.1338', 'Mont.1454', 'Mont.1475', 'Mont.1610', 'Mont.1861', 'Mont.2053']
['Mont.14', 'Mont.48', 'Mont.473', 'Mont.569', 'Mont.706', 'Mont.762', 'Mont.781', 'Mont.820', 'Mont.857', 'Mont.887', 'Mont.925', 'Mont.951', 'Mont.997', 'Mont.1053', 'Mont.1081', 'Mont.1121', 'Mont.1156', 'Mont.1214', 'Mont.1276', 'Mont.1312', 'Mont.1354', 'Mont.1385', 'Mont.1453', 'Mont.1516', 'Mont.1870', 'Mont.2071']
['Mont.4', 'Mont.72', 'Mont.99', 'Mont.412', 'Mont.501', 'Mont.563', 'Mont.594', 'Mont.741', 'Mont.798', 'Mont.862', 'Mont.919', 'Mont.957', 'Mont.989', 'Mont.1038', 'Mont.1097', 'Mont.1127', 'Mont.1172', 'Mont.1213', 'Mont.1295', 'Mont.1373', 'Mont.1490', 'Mont.1547', 'Mont.1642', 'Mont.1778', 'Mont.2012', 'Mont.2129']

In [89]:
YearArray[0]

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Mont.40,Mont.61,Mont.65,Mont.66,Mont.88,Mont.90,Mont.109,Mont.121,Mont.150,Mont.180,Mont.184,Mont.192
1,Mont.200,Mont.207,Mont.208,Mont.217,Mont.266,Mont.267,Mont.341,Mont.346,Mont.353,Mont.375,Mont.383,Mont.408
2,Mont.449,Mont.455,Mont.465,Mont.469,Mont.494,Mont.541,Mont.547,Mont.550,Mont.567,Mont.572,Mont.577,Mont.580
3,Mont.593,Mont.617,Mont.625,Mont.644,Mont.645,Mont.650,Mont.658,Mont.679,Mont.689,Mont.716,Mont.730,Mont.733
4,Mont.847,Mont.848,Mont.911,Mont.973,Mont.981,Mont.1000,Mont.1002,Mont.1003,Mont.1010,Mont.1023,Mont.1025,Mont.1026
5,Mont.1029,Mont.1030,Mont.1033,Mont.1034,Mont.1216,Mont.1217,Mont.1234,Mont.1235,Mont.1236,Mont.1321,Mont.1327,Mont.1328
6,Mont.1407,Mont.1424,Mont.1444,Mont.1488,Mont.1499,Mont.1500,Mont.1519,Mont.1521,Mont.1523,Mont.1525,Mont.1544,Mont.1556
7,Mont.1561,Mont.1567,Mont.1594,Mont.1604,Mont.1608,Mont.1611,Mont.1612,Mont.1618,Mont.1628,Mont.1629,Mont.1630,Mont.1631
8,Mont.1635,Mont.1638,Mont.1639,Mont.1640,Mont.1650,Mont.1656,Mont.1658,Mont.1659,Mont.1661,Mont.1662,Mont.1669,Mont.1677
9,Mont.1678,Mont.1684,Mont.1685,Mont.1691,Mont.1693,Mont.1695,Mont.1727,Mont.1728,Mont.1740,Mont.1742,Mont.1743,Mont.1744

In [90]:
for index, row in YearArray[0].iterrows():
    print(row['Jan'])

Mont.40
Mont.200
Mont.449
Mont.593
Mont.847
Mont.1029
Mont.1407
Mont.1561
Mont.1635
Mont.1678

In [96]:
def createExcelSheet(writer,decade_df,year):
    decade_df.to_excel(writer, str(year))
    print(str(year) + ' is written to Excel File Successfully.')

In [97]:
def createExcelFile(YearArray):
    filenames = [2020,2030,2040,2050,2060,2070,2080,2090,2100]
    index = 0
    writer = pd.ExcelWriter('output.xlsx')
    for year in YearArray:
        createExcelSheet(writer,year,filenames[index])
        index += 1
    writer.close()

In [98]:
createExcelFile(YearArray)

2020 is written to Excel File Successfully.
2030 is written to Excel File Successfully.
2040 is written to Excel File Successfully.
2050 is written to Excel File Successfully.
2060 is written to Excel File Successfully.
2070 is written to Excel File Successfully.
2080 is written to Excel File Successfully.
2090 is written to Excel File Successfully.
2100 is written to Excel File Successfully.